.authPage {
  height: 100vh;
}

.textRegister {
  font-size: 11px;
}
.submitButton {
  background-color: black !important;
  border: none !important;
}

.toRegister {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.searchComponent {
  border: none;
}
.auth-wrapper {
  background-color: black;
  height: auto;
}

.margin-logo {
  margin-bottom: 100px;
}
